@page
@model Diamond.RazorPage.Pages.Admin.Categories.ListCategoryModel
@{
    ViewData["Title"] = "List of Categories";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" /> <!-- Thêm thẻ link này để áp dụng CSS từ site.css -->

</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center mb-5 text-primary fw-bold fs-3">List All Categories</h2>
        <div class="row mb-4">
            <div class="col text-right">
                <a class="btn btn-success" href="/Admin/Categories/CreateCategory">Create <i class="bi bi-plus-circle"></i></a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr style="font-size: small">
                        <th>ID</th>
                     
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date Created</th>
                        <th>Date Modified</th>
                        <th class="d-flex justify-content-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Pagedcategories.Items)
                    {
                        <tr style="font-size: small">
                            <td class="align-middle">
                                <div class="d-flex justify-content-center">
                                    @category.CategoryId
                                </div>
                            </td>
                            <td class="align-middle">

                                <div class="d-flex justify-content-center">
                                    @category.CategoryName
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex justify-content-center">
                                    @category.Description
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex justify-content-center">
                                    @category.DateCreated
                                </div>
                            </td>
                           
                            <td class="align-middle">
                                <div class="d-flex justify-content-center">
                                    @category.DateModified
                                </div>
                            </td>
                           
                            
                            <td class="align-middle" style="white-space: nowrap;">
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-danger btn-sm mr-2 mx-2" href="/Admin/Categories/DeleteCategory?id=@category.CategoryId"><i class="bi bi-trash3-fill"></i></a>

                                    <a class="btn btn-info btn-sm" href="/Admin/Categories/UpdateCategory?id=@category.CategoryId"><i class="bi bi-pencil-square"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-page="./ListCategory" asp-route-pageIndex="@(Model.CurrentPage - 1)">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.Pagedcategories.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-page="./ListCategory" asp-route-pageIndex="@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.CurrentPage == Model.Pagedcategories.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-page="./ListCategory" asp-route-pageIndex="@(Model.CurrentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>