@page
@model Diamond.RazorPage.Pages.Views.Home.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>
            Our Collection
        </h1>
        <p class="lead text-muted">Explore our diverse selection of high-quality Jewelrys. </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <form method="get">
            <div class="input-group">
                <input type="text" class="form-control" style="max-width:35%" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2" name="searchTerm" value="@Model.searchTerm">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </form>

        <h3 class="h3">Top Jewelrys</h3>
        <div class="row">
            @foreach (var product in Model.PageProducts.Items)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div style="height: 225px; overflow: hidden;">
                            @if (product.Images.Any())
                            {
                                var firstImageUrl = product.Images.First().Url;
                                <img src="~/products/@firstImageUrl" class="card-img-top" style="object-fit: cover; width: 100%; height: 100%;" alt="Product Image">
                            }
                            else
                            {
                                <img src="~/images/default-product-image.jpg" class="card-img-top" style="object-fit: cover; width: 100%; height: 100%;" alt="Default Product Image">
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text">$@product.Price</p>
                            <a href="/Views/Home/ProductDetail?id=@product.ProductId" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (Model.PageProducts.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="?pageIndex=1&searchTerm=@Model.searchTerm">First</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="?pageIndex=@(Model.CurrentPage - 1)&searchTerm=@Model.searchTerm">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.PageProducts.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="?pageIndex=@i&searchTerm=@Model.searchTerm">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.CurrentPage == Model.PageProducts.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?pageIndex=@(Model.CurrentPage + 1)&searchTerm=@Model.searchTerm">Next</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage == Model.PageProducts.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?pageIndex=@Model.PageProducts.TotalPages&searchTerm=@Model.searchTerm">Last</a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>

    <style>
        .footer {
            margin-bottom:-5%;
            margin-left:-1%;
            padding-left:20%;
            width: 101%;
            position: relative;
            height: auto;
            background-color: #f0f0f0; /* Màu xám nhẹ cho background */
        }

            .footer .col {
                width: 190px;
                height: auto;
                float: left;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 0px 20px 20px 20px;
            }

                .footer .col h1 {
                    margin: 0;
                    padding: 0;
                    font-family: inherit;
                    font-size: 12px;
                    line-height: 17px;
                    padding: 20px 0px 5px 0px;
                    color: rgba(255,255,255,0.2);
                    font-weight: normal;
                    text-transform: uppercase;
                    letter-spacing: 0.250em;
                }

                .footer .col ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

                    .footer .col ul li {
                        color: #999999;
                        font-size: 14px;
                        font-family: inherit;
                        font-weight: bold;
                        padding: 5px 0px 5px 0px;
                        cursor: pointer;
                        transition: .2s;
                        -webkit-transition: .2s;
                        -moz-transition: .2s;
                    }

        .social ul li {
            display: inline-block;
            padding-right: 5px !important;
        }

        .footer .col ul li:hover {
            color: #ffffff;
            transition: .1s;
            -webkit-transition: .1s;
            -moz-transition: .1s;
        }
    </style>
   
    
</div>

<div class="footer" >
    <div class="contain">
        <div class="col">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
                <li>Social</li>
                <li>Get in touch</li>
            </ul>
        </div>
        <div class="col">
            <h1>Products</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
                <li>Social</li>
                <li>Get in touch</li>
            </ul>
        </div>
        <div class="col">
            <h1>Accounts</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>
                <li>Services</li>
                <li>Social</li>
                <li>Get in touch</li>
            </ul>
        </div>
        <div class="col">
            <h1>Resources</h1>
            <ul>
                <li>Webmail</li>
                <li>Redeem code</li>
                <li>WHOIS lookup</li>
                <li>Site map</li>
                <li>Web templates</li>
                <li>Email templates</li>
            </ul>
        </div>
        <div class="col">
            <h1>Support</h1>
            <ul>
                <li>Contact us</li>
                <li>Web chat</li>
                <li>Open ticket</li>
            </ul>
        </div>
        <div class="col social">
            <h1>Social</h1>
            <ul>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-youtube"></i>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
