@page
@model Diamond.RazorPage.Pages.Views.Cart.IndexModel
@{
}

<h1>Shopping Cart</h1>
@if (Model.CartItems != null && Model.CartItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                            <input type="number" name="quantity" value="@item.Quantity" min="1" class="form-control" />
                            <button type="submit" asp-page-handler="Update" class="btn btn-secondary">Update</button>
                        </form>
                    </td>
                    <td>@(item.Product.Price * item.Quantity)</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                            <button type="submit" asp-page-handler="Remove" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }

            <h2>Total: @Model.CartTotal</h2>

           








        </tbody>
    </table>
}
else
{
    <h3>Your Cart is Empty</h3>
}
<div class="card-footer">
    <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
        <a asp-page="Summary" class="btn btn-success form-control">Summary</a>
    </div>
</div>

